<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/puzzle-2-style.css"> <!--puzzle 2 css file reference-->
    <title>Silent Hill 2</title>
</head>
<body>
    <img class="logo" src="../img/SH2/logo.png"> <!--logo file path-->
    <div id="board"></div>
    <h1 id="silent-font">Turns: <span id="turns">0</span></h1>+
    <audio id="silent-theme" src="../audio/Pianissimo-epilogue.mp3" controls autoplay loop></audio> <!--audio file path-->

    <script src="../script/script_2.js"></script> <!--script file path-->
    
</body>
</html>