<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/puzzle-3-style.css"> <!--puzzle 2 css file reference-->
    <title>Resident Evil 4</title>
</head>
<body>
    <img class="logo" src="../img/RE4/logo.png"> <!--logo file path-->
    <div id="board"></div>
    <h1 id="re-font">Turns: <span id="turns">0</span></h1>

    <audio id="re-theme" src="../audio/re4-serenity.mp3" controls autoplay loop></audio> <!--audio file path-->

    <script src="../script/script_3.js"></script> <!--script file path-->
    
</body>
</html>